---
layout: default
pagination:
  data: collections.posts
  reverse: true
  size: 5
permalink: "/{% if pagination.pageNumber>0 %}page/{{ pagination.pageNumber | plus: 1 }}{% endif %}/index.html"
---

{%- for page in pagination.items -%}
  {%- if page.data.page.excerpt -%}
    {%- capture pageContent -%}
      {%- liquidify page.data.page.excerpt -%}
    {%- endcapture -%}
  {%- else -%}
    {%- assign pageContent = page.templateContent -%}
  {%- endif -%}

  {% include article with site: site, url: page.url, title: page.data.title, date: page.data.date, content: pageContent, keepReading: page.data.page.excerpt %}

  <hr>
{% endfor %}

<nav>
  <ul>
    {% if pagination.href.previous %}
      <li>
        <a href="{{ site.url }}{{ pagination.href.previous }}">&laquo; Prev</a>
      </li>
    {% else %}
      <li>
        <span>&laquo; Prev</span>
      </li>
    {% endif %}

    {% for href in pagination.hrefs %}
      {% if page.url == href %}
        <li class="active"><a>{{ forloop.index }}</a></li>
      {% else %}
        <li><a href="{{ site.url }}{{ href }}">{{ forloop.index }}</a></li>
      {% endif %}
    {% endfor %}

    {% if pagination.href.next %}
      <li>
        <a href="{{ site.url }}{{ pagination.next.previous }}">Next &raquo;</a>
      </li>
    {% else %}
      <li>
        <span>Next &raquo;</span>
      </li>
    {% endif %}
  </ul>
</nav>
