<h2 class="postTitle">
  <a href="{{ url }}">{{ title }}</a>
</h2>
<div class="postInfo">
  <span>by {{ site.author }} | {{ date | date: "%b %d, %Y" }}</span>
</div>

<hr />

<article>
  {{ content }}
  {% if keepReading %}
  <p>
    <em><a href="{{ site.url }}{{ url }}">Read More</a></em>
  </p>
  {% endif %}
</article>
