
<h2>
  <a href="{{ url }}">{{ title }}</a>
</h2>
<h3>by {{ site.author }}</h3>
<h4>{{ date | date: "%b %d, %Y" }}</h4>

<hr>

<article>
  {{ content }}
  {% if keepReading %}
      <p><em><a href="{{ site.url }}{{ url }}">Read More</a></em></p>
  {% endif %}
</article>
