<!DOCTYPE html>
<html lang="en">
    <head>
        <meta content="text/html; charset=UTF-8" http-equiv="content-type"/>
        <meta charset="utf-8"/>
        <title>
            {% if page.title %}
                {{ page.title }}
                -
            {% endif %}
            {{ site.title }}
        </title>
        <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport"/>
        <link rel="canonical" href="{{ page.url | prepend: site.url }}"/>
        <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.url }}"/>
        <link href="/css/main.css" rel="stylesheet"/>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
    </head>

    <body>
        <header role="banner">
            <div class="logo">
                <a href="/"><img src="/assets/bbq-rev-logo.png" alt="{{ site.title }}"/></a>
                <div class="mobileMenu">
                    <a class="navbar-toggle" href="#" role="button">
                        <i class="fa fa-bars"></i>
                    </a>
                </div>
            </div>

            <div class="navbar updown" id="nav">
                <nav>
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/about/">About</a></li>
                        <li><a href="#">Articles</a></li>
                        <li><a href="#">Videos</a></li>
                        <li><a href="#">Get Some Rub!</a></li>
                    </ul>
                </nav>
            </div>
        </header>

        <section class="site-body">
            <div class="content">
                {{ content }}
            </div>
        </section>

        <footer>
            <em>&copy;
                {{ "now"| date: "%Y" }}
                {{ site.author }}</em>
        </footer>

        <script type="text/javascript">
            const nav = document.querySelector("#nav");
            document.querySelector(".navbar-toggle").addEventListener("click", function () {
                nav.classList.toggle("updown");
            });
        </script>
    </body>
</html>
