<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta charset="utf-8" />
    <title>
      {% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}
    </title>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1"
    />
    <link rel="canonical" href="{{ page.url | prepend: site.url }}" />
    <link rel="alternate" type="application/rss+xml" title="{{
      site.title
    }}" href="{{
      "/feed.xml" | prepend: site.url
    }}" />
    <link rel="stylesheet" href="/css/main.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>

  <body>
    <header role="banner">
      <div class="logo">
        <img src="/assets/bbq-rev-logo.png" alt="{{ site.title }}" />
        <div class="mobileMenu">
          <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <i class="fa fa-bars"></i>
          </a>
        </div>
      </div>

      <div class="navbar">
        <nav>
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about/">About</a></li>
            <li><a href="https://www.youtube.com/channel/UCggewclHIXhklyHezTmF6Sw" target="_blank">Videos</a></li>
            <li><a href="/rubs/">About</a></li>
            <li><a href="/contact/">Contact Me</a></li>
          </ul>
        </nav>
      </div>
    </header>

    <section class="site-body">
      <div class="content">
        {{ content }}
      </div>
    </section>

    <footer>
      <em>&copy; {{ site.time | date: "%Y" }} {{ site.author }}</em>
    </footer>
  </body>
</html>
